*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font-size: 16px;
  --sub-font-size: 14px;
  --tiny-font-size: 12px;
  --font-color-primary: #d2d2e0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;
  color: var(--font-color-primary);
}
